@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');



li, a 
{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
}

header
{

   display: flex;
   justify-content: space-between;
   
}

.logo
{
    margin-bottom: 2%;
    cursor: pointer;
    padding-right: 40%;
}

.span,h1 /* titre et span espace*/
{
    line-height: 2%;
}

.span,h3/*titre et spans espace2*/
{
    line-height: 1%;
}



.nav__links
{
    list-style: none;
}

.nav__links li
{
    display: inline-block;
    padding: 0px 20px;
    
}

.nav__links li, a
{
    border-top: 4px solid transparent;
}



.localisation /*container des 3 box*/
{
    display: flex;
    margin-top: 10px;
}

.box1 /*icone placement*/
{
    background-color:#cecece;
    padding: 10px 14px ;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border: solid;
    border-width: 1px;
    border-color:#cecece;   
}


input[type="text"] /*recherche text*/
{
    padding: 11px 11px;
    font-family: 'Raleway';
    cursor: pointer;
    border: 0; 
    border: solid;
    border-width: 1px;
    border-color:#cecece;
    border-left-color: white;
}

input[type="submit"] /*bouton recherche*/
{
    outline: none;
    background-color: #0065FC;
    color: white;
    padding: 11px 11px;
    font-family: 'Raleway';
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    border-width: 1px;
    border-color:#0065FC ;  
}


input[name="bouton"]
{
    background-color:white;
    color: black;
    border-bottom-right-radius: 24px;
    border-top-right-radius: 24px;
    border: solid;
    border-width: 1px;
    border-top-color:#cecece;
    border-bottom-color:#cecece;
    border-right-color:#cecece;
    border-left-color:white;   
}




.filtre3
{   
    margin-top: 30px;
    margin-right: 1%;
    float: left;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;   
}

.xob
{  
    display: flex; 
    align-content: flex-start;
    gap: 25px;   
    margin-top: 30px;   
}

.xobmimg

{ 
    background-color:#DEEBFF;
    padding: 10px 10px ;
    border-bottom-left-radius: 24px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    transform: translate(13px);
}

.xobtxt
{   
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;  
}

.xobaround
{
    display: flex;
}

.information
{
    display: flex;
    margin-top: 10px;
    gap: 3px;   
}

.infoimg
{
    padding: 10px 5px;
    color: #0065FC;  
}

.main_container
{
    margin-top: 1%;
    margin-left: 1%;
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 55%;
    justify-content: space-between    
}

.main__container2
{   
    margin-top: 1%;
    margin-left: 3%;
    width: 30%;
    border-radius: 20px;
    background-color: #F2F2F2;  
}

.main__container3
{
    margin-top: 3%;
    width: 100%;
    padding: none;
    margin-left: 1%;  
}

.main__container4
{
    margin-top: 3%;
    width: 100%;
    background-color: #F2F2F2;
}

.box
{  
    display: flex;
    flex-wrap: wrap;
    align-content:flex-start;    
    width: 257px;
    height: 230px;
    border-radius: 20px;
    background-color: white;
  
}

.box117
{  
    display: flex;
    align-content:flex-start;    
    width: 490px;
    height: 160px;
    border-radius: 20px;
    background-color: white;
  
}



.box4
{
    width: 356px;
    height: 650px;
    border-radius: 20px;
    background-color:whitesmoke;
}

.box5
{
    
    width: 406px;
    height: 350px;
    border-radius: 20px;
    background-color:whitesmoke;
    
}

.box6
{
    margin-top: 18%;
    width: 406px;
    height: 250px;
    border-radius: 20px;
    background-color:whitesmoke;
    
}

.box51
{

    width: 406px;
    height: 250px;
    border-radius: 20px;
    background-color:whitesmoke;
    
}

.box61
{
    margin-top: 43%;
    width: 406px;
    height: 250px;
    border-radius: 20px;
    background-color:whitesmoke;
    
}


img
{   
    background-size: cover; 
    max-width: 100%;
    margin-top: 3px;
    margin-left: 3px;
    border-radius: 20px;
    object-fit: cover;  
}

.fig
{
  margin-left: 10px;
  color:  #0065FC;
}

.fig2
{
    margin-left: 10px;
    margin-top: 35%;
    color:  #0065FC;
}

figure
{
    margin: 0px;    
}

h2
{

    margin-left: 30px;
    
    
}

h3
{
    margin: 10px;
    line-height: 8px;
}

p
{   
    
    margin: 10px;
}


.containers
{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
    gap: 30px 2em;
    padding-bottom: -10px; 
}

.containers2
{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    gap: 30px 2em;
    padding-bottom: 10px;
}

.containers3
{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 30px 2em;
}

.containers4
{
    display: flex;
    font-size: 20px;   
}

.footer1
{
    width: 400px;
    height: 250px;
    margin-left: 2%;
    align-content: flex-start;
}

.footer2
{
    margin-left: 10%;
}

.footer3
{
   margin-left: 10%;
}

.footer1 li,
.footer2 li,
.footer3 li
{
    
    line-height: 30px;  
}

ul
{
    list-style: none;
}

.hebergement
{   
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
}

.herbergement2
{
    display: flex;
    flex-wrap: wrap;
}






















